
html ,body {
    height: 100%;
}
/*滚动条*/
.el-scrollbar {
    height: 100%;
}
.el-scrollbar > .scrollbar-wrapper-y {
    overflow-x: hidden;
}
.aside_box > .el-scrollbar >.is-horizontal {
    display: none;
}
.el-scrollbar__thumb {
    background-color: rgba(144,147,153,.6);
}
/*左侧菜单*/
.el-submenu > .el-menu--inline > li{
    text-indent: 1em;
}
.el-aside{
    overflow-x: hidden;
}
.el-aside>.el-menu{
    border-right: none;
}

.el-menu-item, .el-submenu__title{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    min-width: auto;
}

.el-submenu .el-menu-item{
    height: 50px;
    line-height: 50px;
    min-width: auto;
}